Source: ubuntu-dev-tools
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-dev-team@lists.alioth.debian.org>
Uploaders: Benjamin Drung <bdrung@debian.org>
Vcs-Bzr: lp:ubuntu-dev-tools
Vcs-Browser: https://code.launchpad.net/~ubuntu-dev/ubuntu-dev-tools/trunk
Build-Depends: dctrl-tools,
               debhelper (>= 7.0.50~),
               devscripts,
               libapt-pkg-perl,
               libwww-perl,
               lsb-release,
               pylint,
               python-all (>= 2.6.5-13~),
               python-apt (>= 0.7.93~),
               python-debian (>= 0.1.15),
               python-gnupginterface,
               python-launchpadlib (>= 1.5.7),
               python-magic,
               python-mox,
               python-setuptools,
               python-soappy,
               python-unittest2
X-Python-Version: >= 2.5
Homepage: https://launchpad.net/ubuntu-dev-tools
Standards-Version: 3.9.1

Package: ubuntu-dev-tools
Architecture: all
Depends: binutils,
         dctrl-tools,
         devscripts,
         diffstat,
         dpkg-dev,
         lsb-release,
         python-apt (>= 0.7.93~),
         python-debian (>= 0.1.15),
         python-launchpadlib (>= 1.5.7),
         python-lazr.restfulclient,
         sudo,
         ${misc:Depends},
         ${perl:Depends},
         ${python:Depends}
Recommends: bzr,
            bzr-builddeb,
            ca-certificates,
            debian-archive-keyring,
            debootstrap,
            genisoimage,
            libapt-pkg-perl,
            libwww-perl,
            pbuilder | cowdancer | sbuild,
            perl-modules,
            python-gnupginterface,
            python-magic,
            python-soappy,
            reportbug (>= 3.39ubuntu1),
            python-dns
Suggests: debian-keyring,
          python-simplejson | python (>= 2.7),
          qemu-kvm-extras-static
Breaks: ${python:Breaks}
Description: useful tools for Ubuntu developers
 This is a collection of useful tools that Ubuntu developers use to make their
 packaging work a lot easier.
 .
 Such tools include:
 .
  - 404main - used to check what components a package's deps are in, for
    doing a main inclusion report for example.
  - check-mir - check support status of build/binary dependencies
  - check-symbols - will compare and give you a diff of the exported symbols of
    all .so files in a binary package.
  - dch-repeat - used to repeat a change log into an older release.
  - debian-distro-info - provides information about Debian's distributions.
  - dgetlp - download a source package from the Launchpad library.
  - distro-info - provides information about the distributions' releases.
  - get-branches - used to branch/checkout all the bzr branches in a Launchpad
    team.
  - get-build-deps - install the build dependencies needed for a package
    reading debian/control.
  - grab-attachments - download all bug attachments from a Launchpad bug
    report.
  - grab-merge - grabs a merge from merges.ubuntu.com easily.
  - grep-merges - search for pending merges from Debian.
  - hugdaylist - compile HugDay lists from bug list URLs.
  - import-bug-from-debian - copy a bug from the Debian BTS to Launchpad
  - lp-list-bugs - briefly list status of Launchpad bugs.
  - lp-project-upload - upload a release tarball to a Launchpad project
  - lp-set-dup - sets the "duplicate of" bug of a bug and its dups.
  - manage-credentials - manage Launchpad token credentials.
  - massfile - fill multiple bugs using a template.
  - merge-changelog - manually merges two Debian changelogs with the same base
    version.
  - mk-sbuild - script to create LVM snapshot chroots via schroot and
    sbuild.
  - pbuilder-dist, cowbuilder-dist - wrapper script for managing several build
    chroots (for different Ubuntu and Debian releases) on the same system.
  - pull-debian-debdiff - attempts to find and download a specific version of
    a Debian package and its immediate parent to generate a debdiff.
  - pull-debian-source - downloads the lastest source package available in
    Debian of a package.
  - pull-lp-source - downloads lastest source package from Launchpad.
  - pull-revu-source - downloads the latest source package from REVU
  - requestsync - files a sync request with Debian changelog and ratione.
  - reverse-build-depends - find the reverse build dependencies that a package
    has.
  - setup-packaging-environment - assistant to get an Ubuntu installation
    ready for packaging work.
  - sponsor-patch - Downloads a patch from a Launchpad bug, patches the source
    package, and uploads it (to Ubuntu or a PPA)
  - submittodebian - automatically send your changes to Debian as a bug report.
  - suspicious-source - outputs a list of files which are not common source
    files.
  - syncpackage - helper to prepare .changes file to upload synced packages
  - ubuntu-build - give commands to the Launchpad build daemons from the
    command line.
  - ubuntu-distro-info - provides information about Ubuntu's distributions.
  - ubuntu-iso - output information of an Ubuntu ISO image.
  - update-maintainer - script to update maintainer field in ubuntu packages.
  - what-patch - determines what patch system, if any, a source package is
    using.
  - wrap-and-sort - wrap long lines and sort items in packaging files.
